<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta charset="utf-8" http-equiv="encoding"/>
    {% block headcss %}
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    {% endblock %}

    {% block headjs %}
    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'js/jquery-2.2.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
    <title>
      {% block title %}
      {% endblock %}
    </title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
