{% extends "base.html" %}

{% block title %}
Safewalk
{% endblock %}

{% block headcss %}
{{ block.super }}
{% endblock %}

{% block headjs %}
{{ block.super }}
{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div  class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <!-- Brand -->
        <li>
          <div class="navbar-brand"><span class="glyphicon glyphicon-lock"></span> Safewalk</div>
        </li>
        <!-- Links -->
        <li>
          <a href="{% url 'webuser-views-home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li class="active">
          <a href="{% url 'webuser-views-login' %}"><span class="glyphicon glyphicon-user"></span> Login</a>
        </li>
        <li>
          <a href="{% url 'webuser-views-register' %}"><span class="glyphicon glyphicon-ok"></span> Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <form role="form" id="loginForm">
    <label for="email">E-Mail: </label>
    <input id="email" type="text" name="email" value="{{ email }}">
    <label for="pass">Password: </label>
    <input id="pass" type="password" name="pass" value="{{ pass }}">
    <input type="submit" value="Login" onclick="submitform()">
  </form>
</div>
{% endblock %}
