{% extends "base.html" %}

{% block title %}
Child Lock
{% endblock %}

{% block headcss %}
{{ block.super }}
{% endblock %}

{% block headjs %}
{{ block.super }}
<script text="text/javascript" src="/static/js/register.js"></script>
{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div  class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <!-- Brand -->
        <li>
          <div class="navbar-brand"><span class="glyphicon glyphicon-lock"></span> Child Lock</div>
        </li>
        <!-- Links -->
        <li>
          <a href="{% url 'webuser-views-home' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
        <li class="active">
          <a href="{% url 'webuser-views-login' %}"><span class="glyphicon glyphicon-user"></span> Login</a>
        </li>
        <li>
          <a href="{% url 'webuser-views-register' %}"><span class="glyphicon glyphicon-ok"></span> Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <form id="registerForm">
    {% csrf_token %}
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" value="{{ password }}">
    <label for="email">E-Mail: </label>
    <input id="email" type="email" name="email" value="{{ email }}">
    <input type="submit" value="Sign Up" onclick="submitform()">
  </form>
</div>
{% endblock %}
